body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #adadad;
}

.left-panel {
  width: 250px;   
  background-color: #474747;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.main-content {
  margin-left: 250px;      
  flex: 1;          
  box-sizing: border-box;
}

.chip-container {
  
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.chip {
  
  width: 90%;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  display: flex;
  flex-direction: row;
}

.chip:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.chip-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  align-items: flex-start;
  margin-bottom: 12px;
}

.chip-right {
    margin-left: auto;

  position: relative; 
  display: inline-block; 

}

.chip-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.chip-text {
  font-size: 1.2rem;
  color: #444;
}

.chip-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chip-button:hover {
  background-color: #1565c0;
    transition: background-color 0.2s;

}



.quick-open-button {
  max-width: none;
  cursor: pointer;
  text-align: left;
  transition: color 0.2s ease;
  margin-bottom: 10px;
  align-self: flex-start;
}

.filter-chip {
  transition: none;
  box-shadow: none;
  transform: none;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.filter-chip:hover {
  transition: none;
  box-shadow: none;
  transform: none;
} 

.top-banner {
  position: relative;
  height: 75px;
  background-color: #9b9b9b;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  padding-left: 20px; 
}

.top-banner p {
  margin-left: auto; 
  margin-right: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}


.left-panel a.side-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}



.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 16px;
}

.logo-container a {
  display: flex;
  align-items: left;
  justify-content: center;
  text-decoration: none;
  color: white;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo-container img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  }

.side-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.strategy-chip {
  display: inline;
  width: 95%;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  align-items: flex-end;
}

.profit-bubble {
  position: absolute;
  top: 40px;  /* right below the button */
  left: 0;    /* align left edge with button */
  background: white;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.profit-bubble input {
  width: 200px;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 1rem;
}

.profit-bubble button {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profit-bubble button:hover {
  background-color: #125ea8;
}

.checkmark {
  width: 100px;
  height: 100px;
}
.checkmark path {
  stroke: #48a73d;
  stroke-width: 7;
  fill: none;
  stroke-linecap: square;
  stroke-linejoin: unset;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: drawCheck 1s cubic-bezier(.57,.06,.17,1) forwards;
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}

.dropdown-button {
  
  color: #9b9b9b;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

#chartMenu {
  display:none; 
  position:absolute; 
  background:white; 
  border:1px solid #ccc; 
  padding:5px; 
  z-index:1000;
}

.chart-points{
  cursor: pointer;
}

.chip-selectors{
  display: flex;
  flex-direction: column;
  width: max-content;
  min-width: fit-content;
}

#left-container, 
#middle-container, 
#right-container {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.chip-chip-container {
  display: flex;
  flex-direction: row;
}

.inactive {
  opacity: 0.5;
}
